body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d1e7ed;
}

/* Navigation Bar start*/
.navbar {
    display: flex;
    list-style: none;
    background-color: white;
    align-items: center;
    padding: 0px 30px;
    margin: 0;
    box-sizing: border-box;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-logo {
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: #474c59;
}

a:hover {
    color: #55c082;
}

/* Navigation Bar end*/

/* Mid Website start */

.mid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 80px 0px;
    background-color: #474c59;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.text-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between
}

.top-container {
    color: white;
    font-weight: bold;
    font-size: 70px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

p {
    margin: 0;
}

.bottom-container {
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.img {
    width: 600px;
    border: 5px solid white;
    border-radius: 10px;
    max-width: 100%;

}
/* Mid Website end */

/* Index Bottom start */

.bottom-info {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 30px;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 10px 0px;
    
}

.bottom-info li {
    background-color: #55c082;
    width: 250px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px #474c59;
    padding: 10px;
    margin: 20px;
}
/* Index Bottom end */